/* All selectors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This is body style */
body {
  width: 80%;
  margin: auto;
}

/* Header part style */

header {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;
}

header > div {
  width: 50%;
}

header h1 {
  color: #000;
  font-family: PT Serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.62px;
}

header h2 {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

header p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* This is main part */

main > .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

main > .container div:nth-child(2) {
  margin-top: 30%;
}

main > .container .image {
  position: relative;
}

main > .container .image img {
  width: 85%;
}

main > .container .image .post {
  color: #000;
  font-family: PT Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transform: rotate(90deg);
  position: absolute;
  top: 40px;
  right: -20px;
}
main > .container .image .name {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}
